body {
  background-color: #30384b;
  color: rgba(255, 255, 255, 0.8);
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}
button {
  outline: none;
  background-color: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: 100px;
  cursor: pointer;
}
